<!DOCTYPE html>
<!--
Template Name: Edgpress
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="pt-br">

<head>
    <title>Compre1Bitcoin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/Content/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <!-- ################################################################################################ -->
            <h1><a href="/Home/Index">Compre1Bitcoin</a></h1>
            <p> área completa de negócios de Bitcoin</p>
            <!-- ################################################################################################ -->
        </header>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row4">
        <nav id="mainav" class="hoc clear">
            <!-- ################################################################################################ -->
            <ul class="clear">
                <li class="active"><a a href="/Home/Index">Início</a></li>
                <li><a href="/Home/BitcoinPrecos">Ver preços</a></li>
                <li><a href="/Home/EntrarConta">Criar/acessar Conta</a></li>
                <li><a href="/Home/SobreBitcoin">Oque é o bitcoin</a></li>
                <li><a href="/Home/SobreNos">Sobre nós</a></li>
            </ul>
            <!-- ################################################################################################ -->
        </nav>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper bgded overlay">
        <div id="pageintro" class="hoc clear">
            <!-- ################################################################################################ -->
            <article>
                <h3 class="heading">Primeiros passos</h3>
                <p>É novo aqui? Se sim, seja muito bem vindo.</p>
                <p>Vôce pode escolher ver os valores do Bitcoin em real ou ler mais sobre esta tecnólogia que está revolucionando o mercado financeiro mundial</p>
                <footer>
                    <ul class="nospace inline pushright">
                        <li><a class="btn" href="/Home/BitcoinPrecos">Ver preços</a></li>
                        <li><a class="btn inverse" href="/Home/SobreBitcoin">Ler mais sobre o Bitcoin</a></li>
                    </ul>
                </footer>
            </article>
            <!-- ################################################################################################ -->
        </div>
    </div>

    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <h6 class="heading">Sobre o nosso serviço</h6>
                <p>Características</p>
            </div>
            <ul class="nospace group services">
                <li class="one_third first">
                    <article>
                        <i class="fa fa-clock-o"></i>
                        <h6>Site online 24 por dia</h6>
                        <p>Sempre disponível para você realizar seus negócios</p>
                        <footer><a class="btn" href="#">Ler mais</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <i class="fa fa-clock-o"></i>
                        <h6>Tranferências imediatas</h6>
                        <p>Realize suas transferências sem ter que ficar esperando liberação</p>
                        <footer><a class="btn" href="#">Ler mais</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <i class="fa fa-clock-o"></i>
                        <h6>Suporte 24 horas</h6>
                        <p>Suporte 24 horas, com tempo médio de reposta de até 15 minutos</p>
                        <footer><a class="btn" href="#">Ler mais</a></footer>
                    </article>
                </li>
            </ul>
            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row4">
        <footer id="footer" class="hoc clear">
            <!-- ################################################################################################ -->
            <div class="one_third first">
                <h6 class="heading">Localização e contatos</h6>
                <ul class="nospace btmspace-30 linklist contact">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <address>
                            Rua Brasil, Campinas, Número: 521
                        </address>
                    </li>
                    <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
                    <li><i class="fa fa-envelope-o"></i> info@Compre1Bitcoin.com</li>
                </ul>
                <ul class="faico clear">
                    <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
                </ul>
            </div>
            <div class="one_third">
                <h6 class="heading">Últimas notícias</h6>
                <ul class="nospace linklist">
                    <li>
                        <article>
                            <h2 class="nospace font-x1"><a href="#">Talvez você se interesse</a></h2>
                            <time class="font-xs block btmspace-10" datetime="2045-04-06">06/05/2019</time>
                            <p class="nospace">Bitcoin ainda vale a pena?</p>
                        </article>
                    </li>
                    <li>
                        <article>
                            <h2 class="nospace font-x1"><a href="#">Talvez você se interesse</a></h2>
                            <time class="font-xs block btmspace-10" datetime="2045-04-05">07/03/2018</time>
                            <p class="nospace">Qual a melhor maneira de investir seu dinheiro em Bitcoins?</p>
                        </article>
                    </li>
                </ul>
            </div>
            <div class="one_third">
                <h6 class="heading">Ficou com alguma dúvida?</h6>
                <p class="nospace btmspace-30">Mande nos um e-mail, que reponderemos o mais rápido possível</p>
                <form method="post" action="#">
                    <fieldset>
                        <legend>Newsletter:</legend>
                        <input class="btmspace-15" type="text" value="" placeholder="Nome">
                        <input class="btmspace-15" type="text" value="" placeholder="Email">
                        <button type="submit" value="submit">Enviar</button>
                    </fieldset>
                </form>
            </div>
            <!-- ################################################################################################ -->
        </footer>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="#">Compre1Bitcoin</a></p>
            <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
            <!-- ################################################################################################ -->
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="~/Content/layout/scripts/jquery.min.js"></script>
    <script src="~/Content/layout/scripts/jquery.backtotop.js"></script>
    <script src="~/Content/layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>